@media (min-width: 1440px){
    .container{
        max-width: 1320px;
    }

    /*Styles for header*/
    .menu__btn{
        margin-right: 90px;
    }

    /*Styles for Intro*/
    .intro{
        min-height: 668px;
    }
    .slider{
        &__item{
            min-height: 668px;
        }
        &__title{      
            font-size: 96px;
            line-height: 96px;
        }
        &__text{
            max-width: 886px;
            font-size: 24px;
            line-height: 26px;
        }
        .slick-dots{
            .slick-active{
                button{
                    background: transparent;
                    border: 1px solid #FFFFFF;
                }
            }
            button{
                background: #FFFFFF;
            }
        }
        .slick-arrow{
            width: 70px;
            height: 70px;
        }
        .slick-prev{
            top: calc(50% - 70px);
        }
        .slick-next{
            bottom: calc(50% - 70px);
        }
    }

    /*Styles for Promo*/
    .promo {
        &__inner{
            padding: 0 80px;
        }
        &__box{
            max-width: 796px;
        }
    }

    /*Styles for Services*/
    .services {
        padding: 0;
        .container{
            padding: 0;
        }
        &__inner{
            display: flex;
            justify-content: space-between;
        }
        &__head{
            min-width: 376px;
            margin-right: 100px;
        }
        &__title {
            text-align: start;
            margin: 90px 0 70px;
        }
        &__desc{
            padding-bottom: 38px;
            margin-bottom: 35px;
        }
        &__text{
            margin: 0;
        }
        &__items{
            margin-right: -60px;
        }
        &__item{
            min-width: 226px;
            height: 270px;
            &:hover{
                .services__item-inner{
                    margin: 3px 0;
                }
            }
        }
    }
}