@media (min-width: 1024px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }

    /*Styles for Intro*/
    .intro{
        min-height: 618px;
    }
    .slider{
        &__item{
            min-height: 618px;
        }
        &__title{      
            padding: 110px 0 0;
            font-size: 84px;
            line-height: 84px;
            letter-spacing: 2px;
        }
        .slick-dots{
            bottom: 80px;
        }
    }

    /*Styles for Promo*/
    .promo {
        &__box{
            max-width: 695px;
        }
        &__text {
            max-width: 555px;
        }
    }

    
    /*Styles for Services*/
    .services {
        padding: 52px 0 0;
        &__title {
            margin-bottom: 60px;
        }
        &__desc {
           padding-bottom: 46px;
           margin-bottom: 40px;
        }
        &__text {
           margin-bottom: 32px;
           max-width: 608px;
        }
        &__item {
            width: 25%;
            min-height: 277px;
            &:nth-child(2), &:nth-child(6){
                border-right: none;
            }
            &:hover{
                .services__item-inner{
                    margin: 10px 15px;
                    padding: 21px 9px 28px;
                    min-height: 255px;
                }
            }
        }
    }

    /*Styles for Projects*/
    .projects {
        padding: 80px 0 60px;
    }

    /*Styles for Team*/
    .team {
        padding: 80px 0;
		&__img {
            min-width: 395px;
            margin-right: 60px;
		}
		&__title {
            margin-bottom: 19px;
		}
		&__text {
            line-height: 24px;
            margin-bottom: 20px;
		}
    }
}