@media (min-width: 768px){
    .container{
        padding: 0 40px;
    }

    /*Styles for header*/
    .logo__link{
        margin-left: 0;
    }

    /*Styles for Intro*/
    .intro{
        min-height: 465px;
    }
    .slider{
        &__item{
            min-height: 465px;
        }
        &__title{      
            padding: 87px 0 0;
            margin: 0 auto ;
            &::after{
                display: none;
            }
        }
        &__text{
            display: block;
            max-width: 587px;
            margin: 0 auto;
            padding: 25px 0 32px;
            font-family: 'Roboto Condensed';
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
        } 
    }

    /*Styles for Promo*/
    .promo {
        text-align: start;
        &__inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__box{
            max-width: 427px;
        }
        &__text {
            max-width: 335px;
            margin-bottom: 0;
        }

    }

    /*Styles for Services*/
    .services {
        padding: 50px 0 0;
        &__title {
            margin-bottom: 30px;
        }
        &__desc {
            text-align: start;
            &::after{
                margin-left: 0;
            }
        }
        &__text {
            text-align: start;
        }
        &__item {
            min-height: 334px;
            &:hover{
                .services__item-inner{
                    padding: 43px 20px 35px;
                }
            }
        }
    }

     /*Styles for Projects*/
     .projects {
        padding: 80px 0 60px;
        &__items{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            margin: 0 13px;
        }
        &__item-img {
            min-height: 282px;
            width: 317px;
            padding: 12px 14px;
		}
		&__item-inner {
            min-height: 256px;
		}
		&__item-link {
            padding: 30px 0;
		}
    }

    /*Styles for Team*/
    .team {
        padding: 40px 0 48px;
        text-align: left;
		&__inner {
            display: flex;
		}
		&__img {
            margin-bottom: 0;
            min-width: 240px;
            height: 100%;
            margin-right: 34px;
		}
		&__title {
            font-size: 36px;
            line-height: 38px;
            margin-bottom: 12px;
            &::after{
                margin-left: 0;
            }
		}
		&__text {
            font-size: 18px;
            margin-bottom: 30px;
		}

		&__btn {
            font-size: 18px;
		}
    }

}