@import "vars";
@import "fonts";

/*Reset styles*/
*{
padding: 0;
margin: 0;
border: 0;
}
 *,*:before,*:after{
-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    min-width: 320px;
    overflow-x: hidden;
}

.container{
    padding: 0 20px;
}

/*Styles for header*/

.header{
    background: $accent_color;
    &__inner{
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__link{
    margin-left: 8px;
}

.menu__btn{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #FFFFFF;
    position: relative;
    &::after{
        content: ' ';
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background: $accent_color;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent_color, 0 8px 0 0 $accent_color;
    }
}

/*Media*/
@import "tablet-640";
@import "tablet-768";
@import "desktop-1024";
@import "desktop-1440";
