@import "fonts";

/*Variables*/
$accent_color: #2B4074;
$text-color: #4A4A4A;
$bg-color: #F9F6E5;

/*Reset styles*/
*{
padding: 0;
margin: 0;
border: 0;
}
 *,*:before,*:after{
-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 18px;
font-size: 16px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
}

.container{
    padding: 0 20px;
}

.title {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 28px;
    &::after{
        content: ' ';
        position: absolute;
        width: 50px;
        height: 8px;
        background: $accent_color;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/*Styles for header*/
.header{
    background: $accent_color;
    &__inner{
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__link{
    margin-left: 8px;
}

.menu__btn{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #FFFFFF;
    position: relative;
    &::after{
        content: ' ';
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background: $accent_color;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent_color, 0 8px 0 0 $accent_color;
    }
}

/*Styles for Intro*/

.intro{
    background: url('../img/intro-bg.jpg') center center/cover no-repeat;
    min-height: 193px;
}

.slider{
    &__item{
        color: #FFFFFF;
        text-align: center;
        min-height: 193px;
    }
    &__title{
        font-family: 'Roboto Condensed';
        font-size: 28px;
        line-height: 28px;
        padding: 36px 0 28px;
        position: relative;
        &::after{
            content: ' ';
            display: block;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 61px;
            height: 8px;
            background: $text-color;
        }
    }
    &__text{
        display: none;
    }
    &__btn{
        display: none;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        .slick-active{
            button{
                background: transparent;
                border: 1px solid #476E4D;
            }
        }
        button{
            font-size: 0;
            background: $accent_color;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}

/*Styles for Promo*/
.promo {
    background: $accent_color;
    padding: 40px 0;
    color: #FFFFFF;
    text-align: center;
    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    &__text {
        font-weight: 300;
        letter-spacing: 0.8px;
        margin-bottom: 40px
    }
    &__btn {
        background: $bg-color;
        padding: 16px;
        font-weight: 500;
        font-size: 18px;
        color: $accent_color;
        border-radius: 3px;
        &:hover,&:focus,&:active{
            animation: bounce 1s;
        }
    }
}

/*Styles for Services*/
.services {
    padding: 25px 0 40px;
    text-align: center;
    &__title {
        color: $accent_color;
        margin-bottom: 47px;
    }
    &__desc {
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
        margin-bottom: 21px;
    }
    &__text {
        font-size: 15px;
        line-height: 17px;
        color: #797979;
        margin-bottom: 40px;
    }
    &__item {
        min-height: 310px;
        border: 1px solid $bg-color;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:last-child{
            border-bottom: 1px solid $bg-color;
        }
        &:hover{
            .services__item-inner{
                border: 4px solid $accent_color;
                margin: 18px;
                padding: 42px 20px 28px;
            }
            .services__item-img{
                margin-bottom: 14px;
            }
            .services__item-title{
                margin-bottom: 30px;
            }
            .services__item-text, .services__item-link{
                opacity: 1;
                height: auto;
                overflow: visible;
            }
        }
    }
    &__item-img {
        margin-bottom: 30px;
    }
    &__item-title {
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        color: $text-color;
    }
    &__item-text, &__item-link{
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all .5s linear;
    }
    &__item-text{
        color: #9B9B9B;
        margin-bottom: 17px;
    }
    &__item-link{
        font-family: 'Roboto Condensed';
        font-weight: 700;
        letter-spacing: 2px;
        color: $accent_color;
    }
}

/*Media*/
@import "tablet-640";
@import "tablet-768";
@import "desktop-1024";
@import "desktop-1440";
